# TODO: Unsure if this is even needed anymore

set editing-mode vi
set keymap vi-command
set keymap vi-insert
set show-mode-in-prompt on

# vi settings
$if mode=vi
    # insert mode
    set keymap vi-insert
    "kj": vi-movement-mode # remap escape
$endif
