snippet rdb "rdb.set_trace(): Celery debugger"
from celery.contrib import rdb; rdb.set_trace()
endsnippet


snippet pp "pprint: Pretty print"
from pprint import pprint; pprint(${0:content})
endsnippet
